body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

#table {
    table-layout: fixed;
}

#table th {
    background-color: #4CAF50;
    colour: white;
}

.bucketlist-table{
    width: 100%;
    border: 1px solid black;
    margin: auto;
}

.bucketlist-table tr td{
    width: 20%;
    border: 1px solid black;
}
.myheader {
    text-align: center;

}

.mycontent {
    text-align: center
}
    

    

